:root {
  --primary-color: #3882f6;
  --secondary-color: #1f2937;
  --background-color: #e5e7eb;
  --light-background-color: #f9faf8;
}

/* how to use variables */
/* color: var(--primary-color); */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 10px 18px;
  outline-style: none;
  border: 0;
  transition: opacity 500ms, transform 500ms;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--background-color);
}
button:hover {
  cursor: pointer;
  opacity: 80%;
  transition: opacity 500ms, transform 500ms;
  transform: scale(1.1);
}
/* Header styling */

/* Ensure all elements use border-box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  font-size: 18px;
  padding: 5px 8rem;
  z-index: 1000; /* Ensure header is on top of other content */
}

header div p {
  color: var(--light-background-color);
  font-size: 24px;
}

.logo-container,
.register-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo-container img {
  height: 40px;
}

.nav-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

ul {
  list-style-type: none;
  list-style: none;
}

/* Hero section Styling */

.hero-section {
  padding: 0 8rem;
  padding-top: 15vh;
  padding-bottom: 8vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--light-background-color);
  font-size: 48px;
  font-weight: 900;
}

.hero-section p {
  color: var(--background-color);
  font-size: 18px;
}

/* services section Styling */

h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--secondary-color);
  text-align: center;
}

.services-section {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 220px;
}

.services-card figure {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 700ms;
  .container {
    width: 750px;
  }
}

.services-card figure:hover {
  background-color: rgba(56, 130, 246, 0.5);
  transition: all 700ms;
  transform: scale(1.1);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.quote-section {
  display: flex;
  padding: 0 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.quote-section p,blockquote {
  margin: 0;
  width: 70%;
  font-size: 36px;
  font-style: italic;
  color: var(--secondary-color);
}

.quote-section blockquote {
  margin-top: 50px;
}

.quote-section .author {
  text-align: right;
  margin-bottom: 50px;
}



.call-to-action-section {
  padding: 0 8rem;
  margin-top: 100px;
}

.text-content {
  width: 50%;
}

/* Responsive styles for tablet screens */
@media (max-width: 768px) {
  .quote-section p,blockquote {
    font-size: 18px;
  }
  .quote-section {
    padding: 0 5rem;
  }
  header {
    padding: 5px 5rem;
    font-size: 14px;
  }
  .register-container {
    display: none;
  }
  .logo-container img {
    height: 25px;
  }
  .logo-container p {
    font-size: 14px;
  }
  .hero-section {
    padding: 5vh 5rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-section img {
    height: 250px;
    padding-top: 50px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  .services-section {
    padding: 0 5rem;
  }
  .services-container {
    margin: 0;
  }

  .text-content {
    width: 84%;
  }
  .call-to-action-container {
    flex-direction: column;
  }
  .call-to-action-section {
    padding: 0 5rem;
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 480px) {
  .logo-container p {
    font-size: 12px;
  }
  .logo-container img {
    height: 20px;
  }
  header {
    padding: 5px 3rem;
    font-size: 12px;
  }

  .register-container {
    display: none;
  }
  .hero-section {
    padding: 5rem 3rem;
  }
  .hero-section img {
    height: 250px;
    padding-top: 50px;
  }
  .services-section {
    padding: 0 3rem;
  }
  .services-container {
    margin: 0;
  }
  .quote-section {
    padding: 0 3rem;
  }
  .quote-section p,blockquote {
    padding: 10px;
    width: unset;
  }
  .quote-section .author {
    width: 100%;
  }
  .text-content {
    padding: 0 3rem;
    width: unset;
  }
  .call-to-action-section {
    padding: 0 3rem;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.image-container img {
  height: 300px;
}

.text-content h3 {
  font-size: 2em;
  color: #333;
}

.text-content p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

.call-to-action-container {
  display: flex;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}


.call-to-action-section > p {
  text-align: left;
}

.sign-up-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 2px solid var(--background-color);
  border-radius: 10px;
  white-space: nowrap;
  margin-left: 10%;
}

.call-to-action-head{
  font-weight: 700;
  font-size: 20px;
}


footer{
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}