a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  list-style: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--background-color);
}
button:hover {
  cursor: pointer;
  opacity: 80%;
  transition: opacity 500ms, transform 500ms;
  transform: scale(1.1);
}

/* Header styling */

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  font-size: 18px;
  padding: 5px 8rem;
  z-index: 1000; 
}

header div p {
  color: var(--light-background-color);
  font-size: 24px;
}

.dropdown {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  z-index: 1;
}
.dropdown-content a {
  color: var(--background-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown p {
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* General body styling */
html, body {
  background-color: var(--light-background-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Main section styling */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10rem;
  padding: 0 20px;
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: contain;
}

.signup-form {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.signup-form:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.signup-form h2 {
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.signup-form input:focus {
  border-color: var(--primary-color);
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.name-fields input {
  flex: 1;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-form button:hover {
  background-color: #2c6ae0;
  transform: scale(1.05);
}

.signup-form p {
  margin-top: 10px;
  color: var(--secondary-color);
}

.signup-form p a {
  color: var(--primary-color);
  text-decoration: none;
}

footer {
  margin-top: 6rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    display: none;
  }
  .dropdown {
    display: block;
  }

  .dropdown:hover .nav-container a:not(:first-child) {
    display: block; 
  }
  header {
    padding: 5px 5rem;
    font-size: 14px;
  }
  .register-container {
    display: none;
  }
  .logo-container img {
    height: 25px;
  }
  .logo-container p {
    font-size: 14px;
  }

  .signup-form {
    padding: 20px;
  }

  .name-fields {
    flex-direction: column;
    gap: 0;
  }

  .name-fields input {
    margin-bottom: 10px;
  }

  footer {
    margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  .logo-container p {
    font-size: 12px;
  }
  .logo-container img {
    height: 20px;
  }
  header {
    padding: 5px 3rem;
    font-size: 12px;
  }

  .register-container {
    display: none;
  }


  .signup-form {
    padding: 15px;
  }

  .signup-form h2 {
    font-size: 18px;
  }

  .signup-form button {
    font-size: 14px;
  }
  .signup-container{
    margin-top: 0;
    min-height: 100vh;
  }
  footer {
    margin-top: 5rem;
  }
}

@media (min-width: 1800px) {
  footer {
    position: absolute;
    bottom: 0;
  }
  .signup-container{
    margin-top: 0;
    min-height: 100vh;
  }
}