:root {
  --primary-color: #3882f6;
  --secondary-color: #1f2937;
  --background-color: #e5e7eb;
  --light-background-color: #f9faf8;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 10px 18px;
  outline-style: none;
  border: 0;
  transition: opacity 500ms, transform 500ms;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--background-color);
}
button:hover {
  cursor: pointer;
  opacity: 80%;
  transition: opacity 500ms, transform 500ms;
  transform: scale(1.1);
}
/* Header styling */

/* Ensure all elements use border-box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  font-size: 18px;
  padding: 5px 8rem;
  box-sizing: border-box;
  z-index: 1000; /* Ensure header is on top of other content */
}

header div p {
  color: var(--light-background-color);
  font-size: 24px;
}

.dropdown {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  z-index: 1;
}
.dropdown-content a {
  color: var(--background-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown p {
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.logo-container,
.register-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo-container img {
  height: 40px;
}

.nav-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.contact-form-container {
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8rem;
}

.contact-form {
  max-width: 510px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 70px;
  box-sizing: border-box;
}

.contact-heading {
  font-size: 36px;
  font-weight: 800;
  color: var(--secondary-color);
}

.contact-text {
  max-width: 400px;
  text-align: center;
  margin-top: 14px;
  font-size: 16px;
}

.input-style,
.textarea-style {
  width: 100%;
  border-radius: 18px;
  border: none;
  background-color: #f2f1f1;
  box-sizing: border-box;

  &:focus {
    outline: 2px solid #1f2937;
  }
}

.input-style {
  height: 52px;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.textarea-style {
  height: 212px;
  resize: none;
  padding: 28px 0 0 28px;
}

.button-style {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  height: 54px;
  font-size: 15px;
  border-radius: 20px;
  border: none;

  &:hover {
    transform: translateY(-3px);
    transition: 0.4s;
    background-color: green;
  }
}

.info-container {
  width: 100%;
  height: 437px;
  margin-top: 125px;
  background-color: var(--light-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 0 8rem;
  box-sizing: border-box;
}

.info-small-container {
  max-width: 407px;
  width: 100%;
  height: 223px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-icon {
  width: 24px;
  height: 24px;
}

.info-description-container-wrapper {
  display: flex;
  flex-direction: column;
}

.info-description-container {
  display: flex;
  margin-top: 26px;
  gap: 9px;
  font-size: 16px;

  & > p {
    align-self: center;
  }
}

.geo-text {
  width: 190px;
  line-height: 30px;
  margin-top: -6px;
}

@media screen and (max-width: 950px) {
  .info-container {
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
  }

  .info-small-container {
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
  .dropdown {
    display: block; /* Show dropdown on mobile */
  }

  .dropdown:hover .nav-container a:not(:first-child) {
    display: block; /* Show other links when dropdown is hovered */
  }

  .contact-form-container,
  .info-container {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-container,
  .info-container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 400px) {
  .info-icon {
    width: 20px;
    height: 20px;
  }

  .info-small-container > h2 {
    font-size: 18px;
  }

  .info-description-container {
    font-size: 13px;
  }
}

/* how to use variables */
/* color: var(--primary-color); */

footer {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles for tablet screens */
@media (max-width: 768px) {
  header {
    padding: 5px 5rem;
    font-size: 14px;
  }
  .logo-container img {
    height: 25px;
  }
  .logo-container p {
    font-size: 14px;
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 480px) {
  .logo-container p {
    font-size: 12px;
  }
  .logo-container img {
    height: 20px;
  }
  header {
    padding: 10px 3rem;
    font-size: 12px;
  }
}
